@import "tailwindcss";

@theme {
  --color-vzla-blue: #00247D;
  --color-vzla-blue-dark: #001845;
  --color-vzla-red: #CF142B;
  --color-vzla-red-dark: #A00F22;
  --color-vzla-yellow: #FFCC00;
  --color-vzla-gold: #D4A800;
}
