---
import "../styles/hero.css";
---

<header class="hero">
  <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733;</div>
  <h1>Info <span>Ayuda</span> Venezuela</h1>
  <p>Ayuda a los afectados por el sismo del <strong>24 de junio de 2026</strong></p>
</header>
